body{
    text-align: center;
    background-color: #51b64b;
    margin-top: 100px;
    color: #fff;

}
#quiz{
    color: #fff;
    padding: 20px;
}
#previous{
    background-color: #424242;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 12px;
    margin-top: 19px;
    font-size: 15px;



}
#next{
    background-color: #424242;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-top: 19px;
    padding: 12px;
    font-size: 15px;
}
#submit{
    background-color: #424242;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 12px;
    margin-top: 19px;
    font-size: 15px;



}
#progressBar{
    width: 20rem;
    height: 1.5rem;
    border: .3rem solid#fff;
    border-radius: 20px;
    margin-bottom: 60px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
#progressBarFull{
    height: 1.5rem;
    background-color: #fff;
    width: 0%;
}

#countDown{
    color: #fff;
    font-size: 30px;
    background-color: #424242;
    padding: 10px;
    border-radius: 3px;
    position: absolute;
    top: 55px;
    right: 15px;
}

#countdown{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 55px;
    right: 125px;
}

.quiz-container{
    padding-top: 100px;
    background-color: #424242;
    width: 50%;
    margin: auto;
    border-radius: 8px;    
    -webkit-border-radius: 8px    ;
    -moz-border-radius: 8px    ;
    -ms-border-radius: 8px    ;
    -o-border-radius: 8px    ;
}

.question, .answers{
    margin-top: 40px;

}

.answers{
    margin-top: 23px;

}

#results{
    color: #fff;
}
