
body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}
.question{
    font-size: 30px;
    margin-bottom: 10px;
  }
  .answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
  }
  .answers label{
    display: block;
    margin-bottom: 10px;
  }
  button{
    font-family: 'Work Sans', sans-serif;
      font-size: 22px;
      background-color: #279;
      color: #fff;
      border: 0px;
      border-radius: 3px;
      padding: 20px;
      cursor: pointer;
      margin-bottom: 20px;
  }
  button:hover{
      background-color: #38a;
  }  
  .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }


.quiz-navbar{
    display: grid;
    grid-template-columns: auto auto;
    margin-block-end: -6rem;
}
.navbar-right{
    display: grid;
    grid-template-columns: auto auto auto;
}
.navbar-right li{
    list-style: none;
    
}
.navbar-right li a{
    text-decoration: none;
    color: white;
}
.maincontainer{
    background: 
    linear-gradient(to bottom, #084969,
    #042a2bf2),
    url(images/VGG-vib2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}
.inner-container{
    position: absolute;
    top: 17rem;
    left: 23rem;
    color: #fff;
    text-align: center;
}
.text{
    color: #51b64b;
    font-size: 50px;
    font-weight: bold;
}
#quiz-button{
    border: 3px;
    height: 8vh;
    /*width: 20%;
    */font-size: 17px;
    border-radius: 17px;
    background-color: dodgerblue;
    color: white;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
}
#quiz-button:hover{
    background-color: #51b64b;
    color: white;
    font-size: 20px;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.05);
}
/* .question{
  text-align: center;
    margin-block-start: 10rem;
    background-color: darkgrey; */
}